/* FONT FAMILY */
@font-face {
  font-family: 'Lexend Deca';
  src: url(./../assets/fonts/LexendDeca-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Lexend Deca';
  src: url(./../assets/fonts/LexendDeca-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Lexend Deca';
  src: url(./../assets/fonts/LexendDeca-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Lexend Deca';
  src: url(./../assets/fonts/LexendDeca-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Lexend Deca';
  src: url(./../assets/fonts/LexendDeca-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
  font-display: auto;
}
/* CSS RESET */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #2B2B35;
}
a{
  text-decoration: none;
}
ul,ol{
  list-style: none;
}
button,input{
  outline: none;
  border: none;
}
button{
  cursor: pointer;
}
image{
  max-width: 100%;
  height: auto;
}
html{
  font-size: 62.5%;
  font-family: 'Lexend Deca',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
  width: 100%;
  max-width: 144rem;
  height: 100vh;
  font-size: 2rem;
  background-color: #fff;
  margin: 0 auto;
}

/* LEFT SIDE */
.left-side {
  width: 12.8rem;
  height: 85%;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid #D1D6E0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:  5rem 0;
}
.left-side button{
background-color: #fff;
}
.icofont-navigation-menu{
  font-size: 3.8rem;
}
.icon-box{
  width: 6rem;
  height: 6rem;
  border:1px solid #DEE3EE;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.icofont-cart{
  font-size: 3rem;
}
.hashtag{
  height: 18rem;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 10rem;
  letter-spacing: -0.02em;
  color: #2B2B35;
}
/* main content */
.main-content {
  padding:3.8rem 8.5rem 0 20.4rem;
  height: 100vh;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.nav-login {
  display: flex;
}
.nav-login li{
  margin-left:2.5rem ;
}
.nav-login li a{
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #000;
  text-decoration: underline;
}

.main-title{
  margin: 10rem 0 4.2rem ;
  display: flex;
  justify-content: space-between;
}
.box-title h1{
  max-width: 70rem;
  font-weight: 800;
  font-size: 10rem;
  line-height: 10rem;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}
.adventurous h3 {
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 400;
  color:#9497A8;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2.2rem;
}
.person{
  display: flex;
}
.person img{
  width: 7rem;
  height: 7rem;
  margin-right: -2rem;
}
.person p{
  width: 7rem;
  height: 7rem;
  background-color: #FFE7E6;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 4rem;
  color: #D93A31;
}

.content {  
  display: flex;
}
.content h2{
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 10rem;
  letter-spacing: -0.02em;
}
.explore {
  margin-bottom: 8rem;
}
.explore button {
  background-color: #D93A31;
  padding: 1.5rem 3rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 3rem;
  color: #fff;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  margin-bottom: 2rem;

}
.icofont-long-arrow-right {
  font-size: 3rem;
  color: #fff;
  margin-left: 2.5rem;
}
.explore p {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
}
.information {
  display: flex;
  padding-bottom: 25.5rem;
}
.count-box {
  margin-right: 4em;
}
.count-box p {
  text-transform: uppercase;
}
.more{
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 3rem;
}
.number {
  font-weight: 800;
  font-size: 8rem;
  line-height: 10rem;
}
.subject {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 3rem;
}
.bg {
  width: 100%;
  height: auto;
  z-index: 10;
  background: url(./../assets/images/bg-right.png) no-repeat bottom right;
}
/* waranty */
.waranty {
  background-color: #2B2B35;
  height: 15%;
  width: 50%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  /* padding: 7rem; */
}
.detail-waranty {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text{
  display: flex;
  flex-direction: column;
}
.text p {
  color: #fff;
}
.sub{
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: #B5B5C2;
}
.title-waranty {
  font-weight: 700;
font-size: 2.4rem;
}

